nav{
    background-color: #2B2331;
}

header{
    padding-top: 1em;
    padding-left: 1em;
}

body{
    color: white;
}

section{
    background-color: #2B2331;
    padding: 1em;
    margin: 1em;
    opacity: 0.85;
}

img{
    border-radius: 50%;
}

hr{
    background-color: white;
}
